.navContainer{
    height: 20%;
}
.navContainer>ul{
    font-size: 1.2em;
    padding: 3% 0px 0px 0px;
    margin: auto;
    height: 60%;
    display: flex;
    justify-content: space-between;
    width: 80%;
    border-bottom: 1px solid;
    align-items: center;
    list-style: none;
}

.navContainer li{
    cursor: pointer;
}

.navContainer li:hover{
    list-style-type: square;
    
}